
<h1 class="title_name mfp-hide">My first blog</h1>
<table class="title1 main_form">
<div class="new_article"><%= link_to "new article", new_article_path %></div>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th> Image</th>
    <th></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= image_tag article.image.url(:thumb) %></td>
      <td><%= link_to('Show', article_path(article.id)) %></td>
      <td><%= link_to("Edit",  edit_article_path(article.id))%></td>
      <td><%= link_to "delete", article_path(article.id),  class: "btn btn-danger",
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
