
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Text:</strong>
  <%= image_tag @article.image.url(:medium) %>
</p>

<%= link_to("Вернуться к списку", articles_path()) %>
<%= link_to 'Edit', edit_article_path(@article.id) %>
