<div class="footer">
  <div class="container">
    <div class="footer__column col-md-4 col-sm-4 col-xs-12">
      <%= image_tag 'logo_l.png', class: "footer-white-logo" %>
      <div class="logo__text">
        Консалтинг, стратегия продвижения
      </div><br/>
      <div class="logo__text">
        ©2017 Магда Магла
      </div>
    </div>
    <div class="footer__column col-md-4 col-sm-4 col-xs-12">
      <div class="footer__headings">
        <h3>Рубрики</h3>
        <a class="footer__headings-button">FACEBOOK</a>
        <a class="footer__headings-button">INSTAGRAM</a>
        <a class="footer__headings-button">МЫСЛИ ВСЛУХ</a>
        <a class="footer__headings-button">ПРОДВИЖЕНИЕ</a>
        <a class="footer__headings-button">РАЗНОЕ</a>
        <a class="footer__headings-button">СОЦИАЛЬНЫЕ</a>
      </div>
    </div>
    <div class="footer__column col-md-4 col-sm-4 col-xs-12">
      <div class="footer__communications">
        <h3>Для связи</h3>
      </div>
      <div class="footer__communications-text">
        Skype: tolom07 </br>
        Email: info@magdamagla.com
      </div>
        <div class="footer__social">
          <ul>
            <li><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></li>
            <li><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></li>
            <li><i class="fa fa-rss fa-lg" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
