
<div class="header <%= current_page?(contacts_path) || current_page?(blog_path) ? 'header_white' : 'header_transparent'%> ">
  <div class="container-for-mobile-menu">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
          <i class=" mobile-menu-burger fa fa-bars fa-3x" aria-hidden="true"></i>

        </div>
        <div class="col-md-3 header__logo ">
          <!-- <img src="logo_l"></img> -->
          <%= image_tag 'logo_r.png', class: "dark-logo" %>
          <%= image_tag 'logo_l.png', class: "white-logo" %>

        </div>
        <div class="col-md-6 header__menu <%= current_page?(contacts_path) || current_page?(blog_path) ? 'header__menu-black' : 'header_transparent'%>">
          <ul>
            <li> <%= link_to 'Главная', root_path %></li>
            <li> <%= link_to 'Услуги', services_path %></li>
            <li> <%= link_to 'Онлайн-сервисы', online_services_path %></li>
            <li> <%= link_to 'Блог', blog_path %></li>
            <li> <%= link_to 'Контакты', contacts_path %></li>

          </ul>
        </div>
        <div class="col-md-3 icons__social <%= current_page?(contacts_path) || current_page?(blog_path) ? 'icons__social-black' : 'header_transparent'%>">
            <a class="header__callback popup-with-form" data-mfp-src="#form-popup">Заказать звонок</a>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>
