<div class="blog">
  <div class="container">
    <% @articles.each do |article| %>
      <%= link_to(article_path(article.id)) do %>
        <div class="blog__items col-md-4 col-sm-4 col-xs-12">
          <div class="blog__content">
            <%= image_tag article.image.url(:medium) %>
            <div class="blog__items-text">
              <div class="recent_articles-caption"><%= article.title %></div>
              <div class="recent_articles-text"><%= truncate(article.text, :length => 117) %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>
