<div class="contacts">
  <div class="container">
    <div class="contacts__content col-md-6">
      <div class="contacts__name">
        Для связи
      </div>
      <div class="contacts__text">
        Вы хотите заказать услугу и задать уточняющие вопросы? Пишите сразу в Facebook Messenger, воспользовавшись соответствующей кнопкой ниже или с помощью более привычных (для некоторых) способов связи — почта, скайп и т.д.<br/>
        Все контакты указаны ниже.
      </div>
      <a href="" class="contacts__button popup-with-form" data-mfp-src="#form-popup">Оставьте заявку</a>
      <div class="contacts__social">
        <p><span>Skype:</span> tolom07</p>
        <p><span>Email:</span> info@magdamagla.com</p>
      </div>
      <div class=" icons__social contacts__icons">
        <ul>
          <li><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></li>
          <li><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></li>
          <li><i class="fa fa-skype fa-lg" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></li>
          <li><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></li>
          <li><i class="fa fa-rss fa-lg" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>




<div id="form-popup" class="white-popup mfp-hide">
  <p class="white-popup__text"> Оставьте заявку</p>


  <%= form_for @offer do |f|%>
    <%= f.text_field :name, placeholder: "Введите ваше имя" %>
    <%= f.text_field :number, placeholder: "Введите номер телефона" %>
    <%= f.text_field :email, placeholder: "Введите ваш email" %>
    <%= f.submit %>
  <% end %>
</div>
