

<div class="home animation-down">
  <div class="mask"></div>
  <div class="home__content">
    <div class="container">
      <div class="home__text animation">
      <p>Продвижение бизнеса,<br/> <i>в социальных сетях </i>Facebook</p></div>
      <div class="home__buttons">
        <a class="button-more">Подробнее <i class="fa fa-chevron-right icons fa-lg" aria-hidden="true"></i>
        </a>
        <a class="button-buy-product popup-with-form" data-mfp-src="#form-popup">Сделать заказ <i class="fa fa-shopping-cart icons fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="home-services">
  <div class="container">
    <div class="row">
      <div class="home-services__icon col-md-4 col-sm-4">
        <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i><div class="home-services-line"></div><br/>Настройка рекламы в Facebook и Instagram
      </div>
      <div class="home-services__icon col-md-4 col-sm-4"><i class="fa fa-life-ring fa-3x" aria-hidden="true"></i><div class="home-services-line"></div><br/>Конслатинг и обучение SMM</div>
      <div class="home-services__icon col-md-4 col-sm-4"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i><div class="home-services-line"></div><br/>Разработка сайтов и web-приложений</div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="home-services__icon col-md-4 col-sm-4">
        <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        <div class="home-services-line"></div>
        <br/>
        Привлечение аудитории на сайт
      </div>
      <div class="home-services__icon col-md-4 col-sm-4">
        <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
        <div class="home-services-line"></div>
        <br/>
        Стратегия продвижения бизнеса в соцсетях
      </div>
      <div class="home-services__icon col-md-4 col-sm-4">
        <i class="fa fa-american-sign-language-interpreting fa-3x" aria-hidden="true"></i>
        <div class="home-services-line"></div>
        <br/>
        Комплексное продвижение в соцсетях
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<!-- <div class="clearfix"> -->
<div class="feedback">
  <div class="container">
    <div class="row">
    <div class="feedback__name">Отзывы клиентов</div>
    <div class="feedback__column col-md-4 col-sm-12">
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Фейсбук настолько быстро меняется, что за этим сложно уследить. Да и стоит ли? Есть Alexey Malygin и Магда Магла! Спасибо Алексею за скайп-консультацию. Просто, доступно, структурировано, конкретные рекомендации под мои задачи, новые фишки.
        <br>
        Хорошо, что есть специалисты, помогающие продвигать твои знания и опыт, донести их до аудитории более эффективно!
        </div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Хочу сказать Алексею огромное спасибо за консультацию. За час общения исписано два листа полезными советами и идеями, задан новый вектор развития проекта. Узнала новые фишки в работе с соц. сетями и получила пару нужных ссылок. Все по существу, конкретно и подробно. Буду обращаться еще! Спасибо и удачи!</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
    </div>
    <div class="feedback__column col-md-4 col-sm-12">
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Консультации оказаны на высоком профессиональном уровне. Специалист-практик, ведущий свои проекты, поэтому знает не по наслышке о чем говорит. Обстоятельно и терпеливо ответил на все мои вопросы. Не дешево — но оно того стоит! Наилучшие рекомендации!!</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Очень полезные советы доступным языком. Рекомендую всем новичкам, кто хочет продвинуть свой товар или услуги в Фейсбуке!</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Рекомендую консультацию по Скайпу. Содержательные ответы, полезные советы, выявила несколько ошибок в своих предыдущих действиях, которые буду исправлять, получила рекомендации как сделать, чтобы было хорошо. Спасибо, еще обращусь!</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
    </div>
    <div class="feedback__column col-md-4 col-sm-12">
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Плодотворно поработали по вопросу продвижения бизнес-страницы в Facebook. Рекомендую почитать блог — очень много интересной и полезной информации. Будем обращаться и дальше.</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
      <div class="feedback__column__item">
        <div class="feedback__column__item-text">Очень рекомендую для тех, кто хочет, но не может сделать себе сайт, модернизировать свою страницу в Facebook, а так же продвигать всё перечисленное в интернете. Пользуюсь услугами Магда Магла уже даааавно. Все устраивает и цена и качество, а так же дальнейшая поддержка.
        Так что рекомендую всем.</div>
        <div class="feedback__column__item__card">
          <div class="feedback__column__item__card-foto">
            <%= image_tag 'feedback1.jpg', class: "feedback_img" %>
          </div>
          <div class="feedback__column__item__card-name">
            Светлана Удод
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="recent_articles">
  <div class="container">
    <div class="recent_articles-name">
      Последние статьи
    </div>
    <div class="row">
      <% @articles.each do |article| %>
        <%= link_to(article_path(article.id)) do %>
          <div class="blog__items col-md-4 col-sm-4 col-xs-12">
            <div class="blog__content">
              <%= image_tag article.image.url(:medium) %>
              <div class="blog__items-text">
                <div class="recent_articles-caption"><%= article.title %></div>
                <div class="recent_articles-text"><%= truncate(article.text, :length => 117) %></div>
              </div>
            </div>
        </div>
        <% end %>
      <% end %>
      </div> --> -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="callback">
  <div class="container">
    <div class="callback__content">
      <div class="callback__text col-md-8 col-sm-8 col-xs-12">Хотите продавать в Facebook? Напишите нам, обсудим
      </div>
      <div class="test col-md-4 col-sm-4 col-xs-12">
        <a class="callback__button">Написать
        </a>
      </div>
    </div>
  </div>
</div>

<div id="form-popup" class="white-popup mfp-hide">
  <p class="white-popup__text"> Оставьте заявку</p>

  <%= form_for @offer do |f|%>
    <%= f.text_field :name, placeholder: "Введите ваше имя" %>
    <%= f.text_field :number, placeholder: "Введите номер телефона" %>
    <%= f.text_field :email, placeholder: "Введите ваш email" %>
    <%= f.submit %>
  <% end %>
</div>
