<div class="online_services animation-down">
  <div class="online_services-first-screen">
    <div class="online_services-first-screen-mask">
    <div class="container">
      <div class="online_services-first-screen__text animation"> Онлайн-сервисы для SMM
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="online_services-name">Приложения для SMM</div>
    <div class="online_services-text">
    <p>Подборка приложений и онлайн-сервисов как для начинающего, так и для опытного SMM-щика.
    </p>
    <p>
    <a>Parasite</a> — удобный облачный сервис отложенного постинга в Instagram. Поддерживается работа с личными сообщениями.
    </p>
    <p>
    <a>Старкоммент</a> — мониторит комментарии в группах и аккаунтах, ищет упоминания в социальных сетях: Вконтакте, Facebook, Instagram, Twitter, Odnoklassniki и др. А также директ сообщения и автоответчик в Instagram.
    </p>
    <p>
    <a>Prostopromo</a> — конструктор промоакций и конкурсов в Facebook + создание кликабельных картинок (с редиректом) для Facebook-публикаций.
    </p>
    <p>
    <a>Napotom</a> — простой и очень быстрый планировщик публикаций в Instagram, Telegram и Вконтакте.
    </p>
    <p>
    <a>PMGRM</a> — продвижения Instagram на автомате. Сервис сам находит аудиторию, подписывается, отписывается, лайкает и даже комментирует.
    </p>
    <p>
    <span>Promo Republic</span> — подбирает идеи для публикаций в популярных соцсетях. Много шаблонов + встроенный редактор.
    </p>
    <p>
    <a>Canva</a> — редактор для публикаций в соцсетях, рекламных объявлений, баннеров и прочее. Есть ряд готовых шаблонов.
    </p>
    <a>Onlypult</a> — набор инструментов для Instagram, в числе которых отложенный постинг, управление несколькими аккаунтами, мощный планировщик.
    </br>
  </div>
</div>
