<div class="services animation-down">
  <div class="services-first-screen">
    <div class="services-first-screen-mask">
    <div class="container">
      <div class="services-first-screen__text animation"> Наши услуги
      </div>
    </div>
    </div>
  </div>
  <div class="services__offers">
    <div class="services__offers__items">
      <div class="services__offers__items-img col-md-6 col-sm-12 col-xs-12">
        <%= image_tag 'services1.jpg' %>
      </div>
      <div class=" services__offers__items-content col-md-6 col-sm-12  col-xs-12">
        <div class="services__offers__items-content-caption"> Facebook для бизнеса
        </div>
        <div class="services__offers__items-content-text"> Разрабатываем стратегию продвижения, исходя из ваших целей, возможностей, целевой аудитории. Настраиваем рекламную кампанию. Конечная цель — быстрый старт вашего бизнеса в Facebook, первые клиенты и продажи.
        </div>

        <a class="services__offers__items-content-button"> от 150$
        </a>
      </div>
      <div class="clearfix"></div>
    </div>

<!--     <div class="clearfix"></div> -->
    <div class="services__offers__items">
      <div class="services__offers__items-img col-md-6 col-sm-12 col-xs-12 float_r">
        <%= image_tag 'services52.jpg' %>
      </div>
      <div class="services__offers__items-content col-md-6 col-sm-12 col-xs-12 float_r">
        <div class="services__offers__items-content-caption"> Facebook для бизнеса
        </div>
        <div class="services__offers__items-content-text"> Разрабатываем стратегию продвижения, исходя из ваших целей, возможностей, целевой аудитории. Настраиваем рекламную кампанию. Конечная цель — быстрый старт вашего бизнеса в Facebook, первые клиенты и продажи.
        </div>
        <a class="services__offers__items-content-button"> от 150$
        </a>
      </div>

      <div class="clearfix"></div>
    </div>


    <div class="services__offers__items">
      <div class="services__offers__items-img col-md-6 col-sm-12 col-xs-12">
        <%= image_tag 'services1.jpg' %>
      </div>
      <div class=" services__offers__items-content col-md-6 col-sm-12  col-xs-12">
        <div class="services__offers__items-content-caption"> Facebook для бизнеса
        </div>
        <div class="services__offers__items-content-text"> Разрабатываем стратегию продвижения, исходя из ваших целей, возможностей, целевой аудитории. Настраиваем рекламную кампанию. Конечная цель — быстрый старт вашего бизнеса в Facebook, первые клиенты и продажи.
        </div>

        <a class="services__offers__items-content-button"> от 150$
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
