/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_self
 *=require font-awesome
 *= require bootstrap-slider
 *= require magnific-popup
 * require_tree .
 */

@import "./mixins";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "./*";


.main-background-pattern{
  background-image: url("../images/19-1.jpg");
}

.title_name{
  text-align: center
 }
.main_form{
  margin:  20px auto;
}
body{
  font-family: 'lato', sans-serif;
}
.new_article{
  margin: 0 auto;
  width: 50%;
}
.new_article a{
  text-decoration: none;
  color: #333 !important;
}

.icons{
  margin-left: 5px;
  vertical-align: -0.5px;
}



 .mfp-close{
  display: block;
  position: absolute;
  z-index: 910;
  top: 0;
  right: 0;
  font-size: 28px !important;
  font-weight: bold;
  width: 44px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  opacity: 1 !important;
  color: #000  !important;
}
.white-popup {
  min-height: 300px;
  text-align: center;
  border: 5px solid rgba(0,0,0,0.8);
  padding-bottom: 20px;
}
.white-popup fieldset {
  padding: 0;
  border: 0;
  font-size: 1.2em;
  margin: 40px 0 10px;
  text-align: center;
}
.white-popup label,
.white-popup input[type='text'],
.white-popup input[type='tel'] {
  text-align: left;
  display: block;
  margin-top: 5px;
  margin: 0 auto 30px;
  padding: 0.5em;
  border: 1px solid #cfcfcf;
  width: 70%;
  font-size: 20px;
}
.white-popup.ui-dialog .ui-state-error {
  padding: 0.3em;
}
.white-popup {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 520px;
  margin: 20px auto;
  text-align: center;
}
.white-popup__text {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}
.popup__input {
  border: 1px solid #f4836c;
}
.popup__title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.popupConditional{
  &__title-bold{
    font-weight: bold;
  }
  &__table{
    width: 100%;
    & td{
      border: 1px solid #f4f4f4;
    }
    & td:first-child{
      font-weight: bold;
    }
  }

}
.alert-marketing{
  padding-top: 110px;
}
