.blog{
  height: 900px;
  padding-top: 170px;
  &__items{
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
    & img{
      width: 100%;
      height: 200px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &-text{
      padding: 0 20px 0 10px;
      font-family: Roboto;
      line-height: 28px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
    }
  }
  &__content{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #e4e0e0;
  }
}
.recent_articles-caption{
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0 20px 12px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  color: #333;
  &:hover{
    color: #999999;
  }
}
