.callback{
  padding-bottom: 40px;
  background-color: #7eced5;
  // &__content{
  //   padding-left: 10%;
  //   padding-right: 10%;
  //   text-align: center;

  // }
  &__content{
    margin-top: 50px;
  }
  &__text{
    color: #fff;
    font-family: "Open Sans";
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding-left: 15%;
    @include below(768px){
      padding: 0;
      text-align: center;
    }
  }
  &__button{
    height: 30px;
    background-color: #FFF;
    color: #222;
    border-radius: 25px;
    font-family: "Open Sans";
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    padding: 15px 20px 15px 20px;

  }
  &__button:hover{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    text-decoration: none;
    color: #222;
  }
}
.test{
  @include below(768px){
    padding-top: 17px;
    text-align: center;
  }
}
