.contacts{
  &__content{
    margin-left: 127px;
    margin-right: 127px;
    padding-top: 10%;
    }
  &__name{
    font-size: 48px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
  }
  &__text{
    font-family: Roboto;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  &__button{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background: #1182FC;
    color: #ffffff !important;
    border-radius: 10px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 30px;
    text-decoration: none !important;
  }
  &__social{
    font-size: 20px;
    & span{
      font-weight: bold;
    }
  }
  &__icons{
    margin-bottom: 20px;
    overflow: hidden;
  }
}
