.feedback{
  background-color: rgba(0,0,0,0.1);
  padding-top: 40px;
  &__name{
    font-family: "Open Sans";
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #222;
    padding-bottom: 20px;
  }
  &__column__item{
    min-height: 300px;
    &-text{
      background-color: #7eced5;
      padding: 30px;
      width: 100%;
      border-radius: 4px;
      position: relative;
      margin-bottom: 10px;
      font-family: "Open Sans";
      line-height: 28px;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #f7f7f7;
        position: absolute;
        left: 48px;
        bottom: -6px;
        border-top-color: #7eced5;
      }
    }
    &__card{
      height: 100px;
      margin-top: 20px;
      &-foto img{
        margin-left: 30px;
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 25px;
      }
      &-name{
        float: left;
        font-weight: bold;
        font-size: 14px;
        line-height: 50px;
      }
    }
  }
}
