.footer{
  color: #555555;
  background: #222222;
  padding: 40px 0 20px;
  font-family: "Open Sans";
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  &--white-logo{
    height: 100px;
  }

  &__headings {
    &-button{
      float: left;
      color: #555555;
      margin-top:10px;
      padding:0 14px;
      border-radius: 30px;
      border: 1px solid #333333;
      font-size: 13px!important;
      background-size: 100% 100%;
      background-position: center center;
      float: left;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 2;
      height: 30px;
      max-height: 30px;
      font-weight: bold !important;
      text-decoration: none;
    }
    &-button:hover{
      background-color: #7eced5;
      text-decoration: none;
      color: #fff;
    }


    & h3{
      margin: 0;
      font-weight: 700;
      font-size: 18px;
    }
  }
  &__communications h3{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
  }
  &__social li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
    &:hover{
      color: #7eced5;
      transition: all 0.3s ease-out 0s;
    }
  }
}
.logo__text{
  margin-top:10px;
}

