.header_white{
background-color: #FFF;
border-bottom: 1px solid #e3e3e3;

}
.header_transparent{

}
.header{
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 90px;
  color: #FFF;
  padding-top: 15px;
  @include below(1000px){
    background-color: #FFF;

  }
  &__callback{
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 11px 30px;
    letter-spacing: normal;
    margin-right: 20px;
    font-weight: bold;
    max-width: 280px;
  }
  &__callback:hover{
    text-decoration: none;
    background-color: #fff;
    color: #222;
    transition: all 0.5s ease-out 0s;
  }
  &__logo img{
    height: 30px;
    @include below(1000px){
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
  &__menu{
    @include below(1000px){
      position: absolute;
      display: none;
      color: #000;
      top: 100%;
      left: 0;
      padding: 0;
      width: 100%;
      background-color: #FFF;
    }
    & ul{
      display: table;
      width: 100%;
      // margin: 0 auto;

    }
    & li{
      display: table-cell;
      list-style-type: none;
      text-align: center;
      @include below(1000px){
        display: block;
        border-bottom: 1px solid #0000003d;
        margin-top: 10px;
        margin-bottom: 10px;
        &:last-child{
          border: none;
        }
      }
      & a{
        display: block;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
        height: 100%;
        @include below(1000px){
          font-size: 20px;
          color: #808080;
          line-height: 60px;

        }
        &:hover{
          color: #7eced5;
          transition: all 0.3s ease-out 0s;

        }
        @include below(1000px){
        }
      }
    }


  }
}
.icons__social ul li{
  float: left;
  list-style-type: none;
  margin-right: 20px;
  &:hover{
    color: #7eced5;
  }
  @include below(1000px){
    display:none;
  }
}
.mobile-menu-burger{
  position: absolute;
  margin-left: 20px;
  color: #333;
  transition: all 1s ease-out 0s;
  &:hover{
    color: #7eced5;
    transition: all 0.3s ease-out 0s;
    }
  @include above(1000px){
    display:none;
  }
  .fa{
    color: #222;
  }
}
.mobile-menu{
  position: relative;
  width: 100%
}
.mobile-logo{
  height: 30px;
  margin: 0 auto;
  display: block;
  @include above(1000px){
      display: none;
    }

}
.container-for-mobile-menu{
  position: relative;
  height: 100%;
}
.white-logo{
  @include below(1000px){
    display: none;
  }
}
.white-bg {
  background: #fff;

  .header__menu {

    & li a{
      color: #000;
    }
  }

  .header__callback{
    color: #000;
    border-color: #000;
  }
}
.header__menu-black li a{
  color: #333 !important;
  &:hover{
    color: #7eced5 !important;
    transition: all 0.3s ease-out 0s;
  }
}
.icons__social-black{
  color: #333 !important;
}
