.home-services__icon{
  font-family: "Open Sans";
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  min-height: 320px;
  text-align: center;
  transition: all .3s ease-out;
  color: #222;
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.1);
  &:hover{
    background-color: #ded9d900;
    color: #7eced5;
    .home-services-line{
      width: 100px;
      height: 2px;
      background-color: #7eced5;
      margin: 0 auto;
      transition: all .3s ease-out;
    }
  }
  & i{
    padding-top: 100px;
    padding-bottom: 35px;
  }
  &-line{
    height: 1px;
    margin: 0 auto;
    width: 200px;
    color: #7eced5;
  }
}
.home-services__icon:nth-child(-n+2){
  box-shadow: 1px 0 0 rgba(0,0,0,0.1);
  @include below(789px){
    box-shadow: 0 0 0 rgba(0,0,0,0);
    }
}

