.online_services-first-screen{
  position: relative;
  background-image: image-url("online-services.jpg");
  height: 600px;
  &-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #263238;
    opacity: 0.70;
    z-index: 100;
    overflow: hidden;
  }
  &__text{
    position: relative;
    text-align: center;
    margin-top: 28%;
    color: #fff;
    font-size: 48px;
    line-height: 72px;
    font-family: "Open Sans";
    font-weight: 100;
    font-style: normal;
    z-index: 200;
    @include below(1000px){
      margin-top: 25%;
      font-size: 38px;
    }
    @include below(590px){
      margin-top: 60%;
      font-size: 38px;
    }
  }
}
.online_services{
  &-name{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: left;
    font-family: "Roboto";
    line-height: 42px;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;

    color: #556d73;
  }
  &-text{
    margin-bottom: 100px;
    font-family: Roboto;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    & a{
      color: #7eced5;
      text-decoration: none;
    }
  }
}
