.home{
  position: relative;
  background-attachment: fixed;
  background-image: image-url("mainfon.jpg");
  background-color: rgb(34, 34, 34);
  background-position: center center;
  height: 600px;
  &__content{
    position: relative;
    z-index: 199;
    width: 100%;
  }
  &__text{
    width: 100%;
    margin-top: 15%;
    text-align: center;
    font-size: 48px;
    line-height: 62px;
    color: #fff;
    @include below(1000px){
      margin-top: 25%;
      font-size: 38px;
    }
    @include below(590px){
      margin-top: 35%;
      font-size: 38px;
    }

  }
  &__buttons{
    width: 100%;
    text-align: center;
    margin-top: 40px;

  }
}
.mask {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.button-more{
  border-radius: 30px;
  background-color: #fff;
  color: #222;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 38px;
  letter-spacing: normal;
  margin-right: 20px;
  font-weight: bold;
  max-width: 280px;
  @include below(1000px){
    display: block;
    margin: 0 auto;
    }
  &:hover{
    text-decoration: none;
    background-color: #cecaca;
    color: #222;
    transition: all 0.5s ease-out 0s;
  }
}
.button-buy-product{
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 38px;
  letter-spacing: normal;
  margin-right: 20px;
  font-weight: bold;
  max-width: 280px;
  @include below(1000px){
    display: block;
    margin: 20px auto;
  }
    &:hover{
    text-decoration: none;
    background-color: #fff;
    color: #222;
    transition: all 0.5s ease-out 0s;
  }
}
.animation{
  display:none;
}
.animation-down{
  display: none;
}
