.recent_articles{
  background-color: rgba(0,0,0,0.1);
  padding-top: 40px;
  &-name{
    font-family: "Open Sans";
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #222;
    padding-bottom: 40px;
  }
  &-text{
    color: #000;
  }
}

// .size {
//   width: 200px;
//   height: 120px;
//   overflow: hidden;
//   font-size: 14px;
//   text-overflow: ellipsis;
// }

// .size:hover {
//   height: auto;
//   cursor: pointer;
// }
