.services{

}
.services-first-screen{
  position: relative;
  background-image: image-url("services_fon.jpg");
  height: 620px;
  &-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #263238;
    opacity: 0.70;
    z-index: 100;
    overflow: hidden;
  }
  &__text{
    position: relative;
    text-align: center;
    margin: 30%;
    color: #fff;
    font-size: 48px;
    font-family: "Open Sans";
    font-weight: 100;
    font-style: normal;
    z-index: 200;
    @include below(1000px){
      margin-top: 25%;
      font-size: 38px;
    }
    @include below(590px){
      margin-top: 60%;
      font-size: 38px;
    }
  }
}
.services__offers{
  &__items{
    &-img{
      padding: 0;
      & img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &-content{
      padding-top: 20px;
      &-caption{
        padding: 10px 20%;
        font-size: 24px;
        font-family: "Open Sans";
        font-weight: bold;
        text-align: left;
      }
      &-text{
        padding: 10px 0 0 20%;
        font-family: "Open Sans";
        line-height: 28px;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;

      }
      &-button{
        display: inline-block;
        border:1px solid;
        margin: 10px 0 0 20%;
        border-color: #7eced5;
        font-weight: bold;
        color: #7eced5;
        border-radius: 30px;
        padding: 15px 25px;
      }
      &-button:hover{
        text-decoration: none;
        color: #fff;
        background-color: rgba( 96,176,183,1 );
      }
    }
  }
}
@include above(992px){
  .float_r{
    float: right;
  }
}
