<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body >

    <%= render 'shared/header' %>

      <% flash.each do |key, value| %>
        <div class="alert alert-marketing alert-<%= key %>">
          <div class="container">
            <%= value %>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
